* {
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #1a1a1a;
    color: #c4c0c0;
    margin-left: 20vh;
}

main {
    background-color: #4b4b4b;
    max-width: 80vw;

}

h1 {
    background-color: #000;
    padding: 5px;
}


.header {
    display: flex;
    justify-content: center;
    overflow: hidden;
    font-weight: 550;
}

.header div {
    padding: 25px 15px;
}
.container {
    display: flex;
    height: 100vh;
    padding: 5px;
   
}

.container > div:first-child {
    flex-basis: 15% ;
}

.container > div:last-child {
    flex-basis: 85% 
}

.menu {
    color: black;
    background: #c4c0c0;
    margin: 5px;
    text-align: center;
}

.menu div {
    padding: 5px 0;
}
  

.contents {
    display: flex;
    flex-flow: row wrap;
   
}

.content {
    display: flex;
    flex-direction: column;
    background: #000;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    margin: 5px;
    width: 190px;

}

.content h3 {
    font-weight: 100;
    font-size: 1.6rem;
    padding: 45px 20px;
}

.content p {
    background-color: #1a1a1a;
}