:root {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.bg {
    background-image: url('./images/header.jpg');
    background-size: cover;
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    background-position: 0 55%;
    
}

.bg::after {
    content: '';
    position: absolute;
    background: url('./images/developer.jpeg');
    top: 3%;
    left: 41%;
    height: 150px;
    width: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    
}

.bg h1 {
    color: rgb(255, 166, 0);
   position: absolute;
   font-size: min(36px, 3.5em);
   left: 27.5%;
   top: 39%;
   text-shadow: 4px 4px 4px black;
   z-index: 3;
}

nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    padding: 1.8em;
    font-size: 1.5rem;
}

nav a, nav a:visited {
    color: rgb(218, 216, 216);
    text-decoration: none;
}

nav a:hover {
    color: gray;
}

main {
    display: flex;
    margin: 3em 2em;
    padding: 2em;
    background-color: rgb(235, 239, 241);
    position: relative;

}

section div {
    font-size: 2em;
    padding: 1.5em;
}

.sect_one {
    border-right: 1px solid rgb(170, 168, 168);
}

.sect_one div {
    
    border: 2px solid skyblue;
    border-radius: 8px;
    margin-right: 3em;
}

.one_one:first-child {
    margin-bottom: 20rem;
}

.one_one::after{
    position: absolute;
    content: '';
    height: 25px;
    width: 25px;
    background-color: skyblue;
    border-radius: 50%;
    display: inline-block;
    left: 49.3%;
    top: 15%;
}

.one_two::after{
    position: absolute;
    content: '';
    height: 25px;
    width: 25px;
    background-color: skyblue;
    border-radius: 50%;
    display: inline-block;
    left: 49.3%;
    top: 60%;
}
.sect_two div {
    border: 2px solid orange;
    border-radius: 8px;
    margin-left: 3em;
    margin-top: 20rem;
}

.two_one::before {
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
    left: 49.3%;
    top: 37%;
}

.two_two::before {
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
    left: 49.3%;
    top: 85%;
}

article {
    position: relative;
    height: 40rem;
    background-color: rgb(235, 239, 241);
}

article div {
    padding: 2em;
    width: 50vw;
    font-size: 2em;
}

article h3 {
    padding: 1em 0;
}

article div:first-child {
    background-color: rgb(105, 172, 105);
    position: absolute;
}

article div:nth-child(2) {
    background-color: rgb(194, 247, 220);
    position: absolute;
    left: 25%;
    top: 10%;
}

article div:nth-child(3) {
    background-color: palegoldenrod;
    position: absolute;
    left: 55%;
    top: 20%;
}

article div:nth-child(3):hover {
    z-index: 100;
}

article div:nth-child(2):hover {
    z-index: 100;
}

article div:first-child:hover {
    z-index: 100;
}

footer {
    background-color: black;
    color: snow;
    padding: 2em;
    text-align: center;
    width: 100vw;
    font-size: 1.8em;
}

.back-to-top {
    position: fixed;
    background-color: wheat;
    color: rgb(221, 141, 112);
    height: 60px;
    width: 60px;
    bottom: 3%;
    right: 2%;
    z-index: 999;
    border-radius: 10px;
    outline: none;
    border: 3px solid orange;
    padding: .5em;
    text-decoration: none;
    line-height: 45px;
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
    outline: 1px solid orange;
    outline-offset: -6px;

}

.back-to-top:hover {
    transform: scale(1.2);
    transition: all .7s ease-out .1s;
}