$bg-color: #b9f8ea;
$color-one: #fed8b1;
$color-two: #FFB6C1;
$color-three:#6B8E23;
$color-four: #b0e0e6;

$font-color: rgba(0, 0, 0, 0.7);
$font-stack-primary: "Franklin Gothic Medium", "Arial Narrow", sans-serif;
$font-stack-secondary: fantasy;
$percent: 10%;

$border-color: #cf4b9d;