.info-1, .info-2, .info-3 {
    width: 30%;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 20px;
    border-radius: 4px;
}

.info-1 {
    background-image: url(/uib-box-bg_img-shinheechae/task-2/assets/task2-bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    
}

.info-2 {
    background-image: url(/uib-box-bg_img-shinheechae/task-2/assets/task2-bg1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.info-3 {
    background-image: url(/uib-box-bg_img-shinheechae/task-2/assets/task2-bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}


main {
    display: flex;
}