:root {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Work Sans', sans-serif;;
    background-color: lightgrey;
    padding: 1em 0em 1em 20em;
  
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    grid-area: header;
    font-size: 1.6rem;
    
}

.logo i {
    padding-right: .2em;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    
}

.nav a, .nav a:visited {
    color: purple;
    text-decoration: none;
    padding-left: 3em;
}

.container {
    background-color: rgb(252, 252, 252);
    
    width: 80%;
}
/* .container {
    display: grid;
    grid-template-columns: 1fr .7fr 1fr;
    grid-template-areas: 
    'header . header'
    'sone sone sone'
    'stwo stwo stwo'
    'footer footer footer';
} */




.s_one {
    grid-area: sone;
    min-height: 35vh;
    padding: 1em 2em 1em 6em;
    margin-right: 1em;
  
}

h1 {
    font-size: min(22px, 2.2rem);
    font-weight: 500;
    padding: 2em 0 1em;
}

.s_one  p {
    font-size: min(16px, 1.6rem);
}

.s_one button {
    background-color: black;
    padding: .5em .3em;
    color: white;
    border: none;
    outline: none;
    margin-left: 70%;
    font-size: 1em;
    cursor: pointer;
}
.s_two {
    grid-area: stwo;
    min-height: 50vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.s_two div {
    color: white;
    font-size: 1.8rem;
    padding: 4em 0 0 2em ;
    text-shadow: 0 0 20px black;
}

.s_two button {
    position: absolute;
    display: block;
    bottom: 1%;
    background: white;
    color: rgb(77, 77, 77);
    outline: none;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.3);       
    bottom: -35px;
    cursor: pointer;
    
}

.img_one {
    background: url('./images/white-box.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    background-position-x: 50%;


}

.img_two {
    background: url('./images/room.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
}

.img_three {
    background: url('./images/black-white.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    background-position-x: 60%;
}

footer {
    grid-area: footer;
    color: gray;
    padding: 1.5em;
    font-size: 1.5em;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .s_two {
        grid-template-columns: 1fr;
    }

    .s_two button {
        display: none;
    }
}