:root {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    /* grid-area: header; */
    background-color: lightcyan;

}
.nav {
    display: flex;
    background-color: lightblue;
    border-radius: 6px;
    padding: 1em 5em;
    /* margin-right: -10px; */
    font-size: 1.5rem;

}

.nav a, .nav a:visited {
    text-decoration: none;
    color: black;
    padding: 0 2em;

}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    'header header header header'
    'main main main aside'
    'side section section aside'
    'footer footer footer footer';
    gap: 1em;
}

header {
    grid-area: header;
    font-size: 2.5rem;
    padding-left: .3em;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

header p {
    padding: .3em 0;
}
main {
    grid-area: main;
    background-color: lightgoldenrodyellow;
    min-height: 20rem;
    padding: 2em .5em;
    border-radius: 6px;
}

main p {
    font-size: 1.2rem;
    padding: .3em 0;
}

.a_one {
    grid-area: aside;
    background-color: lightskyblue;
    padding: 1em .5em;
    font-size: 1.5rem;
    font-family: fantasy;
    border-radius: 6px;
}

.a_two {
    grid-area: side;
    background-color: lightskyblue;
    min-height: 15rem;
    padding: 1em .5em;
    font-size: 1.5rem;
    font-family: fantasy;
    border-radius: 6px;
}


section {
    background-color: rgb(145, 236, 192);
    grid-area: section;
    padding: 1em .5em;border-radius: 6px;
}

section p {
    font-size: 1.2rem;
    padding: .3em 0;
}

.foot {
    grid-area: footer;
    background-color: rgb(206, 208, 209);
    min-height: 5rem;
    padding: 1em .5em;
    font-size: 1.5rem;
    border-radius: 6px;
}