
.nav-item, .media-links {
    list-style: none;
}

header {
    text-align: center;
}

h1 {
    text-decoration: underline;
    display: inline-block;
}

.review {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px pink;
}

.fa-cat {
 font-size: larger;
}

ul li {
    text-align: center;
}

