.container {
    border: 5px solid rgba(255, 0, 0, 0.5);
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(4, 1fr);
   
}

.container div {
    border: 3px solid rgb(121, 121, 190);
    text-align: center;
}

.container div:nth-child(2) {
    
    background-color: lightpink;
    grid-column: 2/4;
}

.container div:nth-child(6) {
    background-color: lavender;
    grid-column: 3/5;
} 

.container div:nth-child(9) {
    background-color: lemonchiffon;
    grid-row: 3/5;
    grid-column: 2;
}

.container div:nth-child(10) {
    background-color: lightcyan;
    grid-row: 3/5;
    grid-column: 4;
}