
body {
    font-family: 'Source Code Pro', monospace;
    height: 100%;  
    margin: 0; 
}

:root {
    font-size: 62.5%;
}


.bgi {
    background: url("images/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 500px 600px;
    height: 60rem;
    width: 500px;
    
}

.logo {
    width: 60%;
    height: fit-content;
    position: absolute;
    top: 7%;
    left: 7%;
}

.heading {
    border: 8px solid;
    background-color: rgb(223, 213, 213);
    text-align: center;
    width: 23%;
    opacity: 0.8;
    position: absolute;
    left: 9.2%;
    top: 33%;
}

form {
    display: inline-block;
    background-color: #c0b9b9;
    position: absolute;
    left: 10%;
    bottom: 14%;
    text-align: center;
    box-shadow: 0 0 5px #f3f3f3;
    height: 20rem;
}

h3 {
    font-size: 1.3rem;
    margin: 2px 0
}

p {
    padding-bottom: 3px;
    font-weight: bold;
}
label, input {
    display: block;
    margin-left: 13px;
}

input:placeholder-shown  {
    font-style: italic;
}

label {
    text-align: left;
    background-color: #49464b;
    color: white;
    width: 90%;
    border: none;
    
}

input {
    width: 88%;
    border: none;
}

a, a:visited {
    color: white;
    background-color: #49464b;
    padding: 2px 5px;
    text-decoration: none;
    display: block;
    margin: 0 25px;  
    font-style: italic; 
}

fieldset {
    border: none;
    padding: 12px;
}

