h1 {
    text-align: center;
    height: 5em;
    line-height: 5em;
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
}

.box {
width: 5em;
height: 5em;
}

.one {
    background-color: steelblue;
    position: absolute;
    top: 0;
    left: 42.5%;
    transition: transform 1s ease-in-out;
    
} 

.container:hover .one {
    transform: rotate(-90deg) translate(0em, -5em);
    
}

.two {
    background-color: dimgray;
    position: absolute;
    top: 0;
    left: 49.9%;
    transition: transform 1s ease-in-out;
   
}

.container:hover .two {
    transform: rotate(90deg) translate(0em, -5em);
}

.three {
    background-color: rosybrown;
    position: absolute;
    top: 5em;
    left: 42.5%;
    transition: transform 1s ease-in-out;
    
}

.container:hover .three {
    transform: rotate(90deg) translate(0em, 5em);
}

.four {
    background-color: #ffd000;
    position: absolute;
    top: 5em;
    left: 49.9%;
    transition: transform 1s ease-in-out;
}

.container:hover .four {
    transform: rotate(-90deg) translate(0em, 5em);
}